/* La liste globale des plantes */
.lmj-plant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 32px;
}

/* Chaque petite boîte de plante */
.lmj-plant-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    position: relative; /* Pour positionner le badge solde si besoin */
}

/* Le petit badge "Soldes" */
.lmj-sales {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #31b572;
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
}